body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.hidden {
    display: none;
}

button {
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
}

#timer {
    font-size: 24px;
    margin: 20px 0;
}

.correct {
    color: green;
}

.incorrect {
    color: red;
}

.typomistake {
    color: yellow;
}
